@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

#video, #canvas {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: white;
}

#play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.col {
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 25vw;
    z-index: 10;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#col-1 {
    left: 0%;
    border-right: solid 0.2vw;
}

.col-1-selected {
    background-color: rgba(0, 0, 255, 0.5) !important;
}

#col-2 {
    left: 25vw;
    border-right: solid 0.2vw;
}

.col-2-selected {
    background-color: rgba(255, 0, 255, 0.5) !important;
}

#col-3 {
    left: 50vw;
    border-right: solid 0.2vw;
}

.col-3-selected {
    background-color: rgba(255, 255, 0, 0.5) !important;
}

#col-4 {
    left: 75vw;
}

.col-4-selected {
    background-color: rgba(0, 128, 0, 0.5) !important;
}

#line {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    height: 0.2vw;
    width: 100vw;
    z-index: 3;
    background-color: red;
}

#timeline {
    position: absolute;
    transform: translate(0, -50%);
    left: 2vw;
    top: 5vh;
    height: 0.5vw;
    width: 96vw;
    z-index: 11;
    background-color: rgb(255, 255, 255);
    border: black solid 0.05vw;
}

#playhead {
    position: absolute;
    transform: translate(-50%, -35.5%);
    height: 1.5vw;
    width: 1.5vw;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    z-index: 4;
}

#map {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100vw;
    z-index: 4;
}

.player-block {
    background-color:rgba(255, 255, 255, 0.5) !important;
    border: none !important;
}

.block {
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 15vw;
    z-index: 4;
    border: 5px dashed white;
    background-color:rgba(0, 0, 0, 0.2);
    padding: 5%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.block-col-1 {
    left: 5vw;
}

.block-col-2 {
    left: 30vw;
}

.block-col-3 {
    left: 55vw;
}

.block-col-4 {
    left: 80vw;
}

#fps {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin: 5px;
}

#vwvh {
    width: 1vw;
    height: 1vw;
    position: absolute;
}
